:root{
--colorGris: silver;
--colorGrisClaro: #E4E4E4;
--colorPpal: #3c0d0d;
--colorSec: #b89859;
--fontTexto: 'Roboto', sans-serif;
--fontTituloReg: 'Cinzel-Regular', serif;
--tra35: all .35s ease;
--tra50: all .5s ease;
--sombra1: 0rem 0.5rem 1.4rem #333;
--sombra1c: 0rem 0.5rem 1.4rem #666;
--sombra2: 0rem 0.5rem 2rem #333;
--sombra3: 0rem 0.6rem 3rem #333;

}